[Desktop Entry]
Name=Axolotl
Exec=axolotl
Type=Application
Comment=A signal client, AppImage version
Categories=Network;InstantMessaging;Chat;
Icon=axolotl
X-KDE-FormFactor=desktop;tablet;handset;
X-Purism-FormFactor=Workstation;Mobile; 
