textsecure.nanuc_*click
axolotl
builddir/
build/
target/
gopath/*
.clickable/*
*po~
*~~
*.snap
*.AppImage
*.vcf
main

output
bind*.go
*.syso
dist
.flatpak-builder
.flatpak
.idea/*
.idea
axolotl.code-workspace
libzkgroup.so
libzkgroup*.so
