# https://docs.flatpak.org/en/latest/freedesktop-quick-reference.html#desktop-files

[Desktop Entry]
Name=Axolotl
Exec=axolotl
Terminal=false
Type=Application
Comment=A signal client, flatpak version
Categories=Network;InstantMessaging;Chat;
Icon=org.nanuc.Axolotl
