[Desktop Entry]
Name=Axolotl
#Exec=qmlscene --scaling qml/MainUt.qml
Exec=axolotl -e ut  %u 
Icon=axolotl.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=communication
X-Ubuntu-Splash-Color=#2090ea
X-KDE-FormFactor=desktop;tablet;handset;
X-Purism-FormFactor=Workstation;Mobile; 
