[Desktop Entry]
Name=Axolotl
#Exec=qmlscene --scaling qml/Main.qml
Exec=textsecure %u -sys ut
Icon=axolotl.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=communication
X-Ubuntu-Splash-Color=#2090ea
