[Desktop Entry]
Name=TextSecure
Exec=textsecure %u
Icon=textsecure.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=communication

