# https://docs.flatpak.org/en/latest/freedesktop-quick-reference.html#desktop-files

[Desktop Entry]
Name=Axolotl
Exec=axolotl -axolotlWebDir=/app/bin/axolotl-web/dist
Type=Application
Comment=A signal client, flatpak version
Terminal=false
Categories=Network;InstantMessaging;Chat;
Icon=org.nanuc.Axolotl
X-KDE-FormFactor=desktop;tablet;handset;
X-Purism-FormFactor=Workstation;Mobile; 
