[Desktop Entry]
Name=Axolotl
GenericName=Signal Chat Client
Comment=A signal client
Type=Application
Exec=axolotl --mode tauri
Terminal=false
Categories=Network;InstantMessaging;Chat;
Icon=@icon@
StartupNotify=true
StartupWMClass=axolotl
X-KDE-FormFactor=desktop;tablet;handset;
X-Purism-FormFactor=Workstation;Mobile;
X-Gnome-UsesNotifications=true
