# https://snapcraft.io/docs/desktop-menu-icon-support

[Desktop Entry]
Name=Axolotl
Exec=axolotl
Type=Application
Comment=A signal client, snap version
Terminal=false
Categories=Network;InstantMessaging;Chat;
Icon=${SNAP}/meta/gui/axolotl.png
