[Desktop Entry]
Type=Application
Name=Axolotl
GenericName=Signal Chat Client
Path=/usr/share/axolotl/
Exec=axolotl -electron-flag no-ozone
#Exec=axolotl -e qt
Icon=axolotl
Terminal=false
Categories=Network;Chat;InstantMessaging
StartupWMClass=axolotl
X-KDE-FormFactor=desktop;tablet;handset;
X-Purism-FormFactor=Workstation;Mobile; 
StartupNotify=true
X-Gnome-UsesNotifications=true
