Source: axolotl
Section: net
Priority: optional
Maintainer: Arno Nuehm <arno_nuehm@riseup.net>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/nanu-c/axolotl

Package: axolotl
Architecture: any
Build-Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Axolotl is a cross-platform Signal client.
 It is built with Rust and a Vue frontend that runs via tauri.
