$primary: #2090ea;
$hover-bg: #444;

// Bootstrap variables
$body-bg: #000;
$body-color: #ccc;

$input-bg: #999;
$input-border-color: #999;
$input-color: #000;
$input-plaintext-color: #000;
$input-placeholder-color: #555;
$input-focus-bg: #bbb;
$input-focus-border-color: $primary;
$input-border-width: 2px;
$input-box-shadow: unset;
$input-focus-box-shadow: unset;

$chat-entry-border-color: #333;

$message-color: #fff;
$message-metadata-color: #eee;
$incoming-message-bg: #2880b0;
$outgoing-message-bg: #29b786;
$sent-message-link: #004090;
$sent-message-link-visited: #003060;

$message-input-border: $body-bg;

$sending-url: "sending_dark.svg";
$sent-url: "check-circle-outline_dark.svg";
$delivered-url: "double-check_dark.svg";
$read-url: "double-check-filled_dark.svg";

@forward 'style.scss' with (
  $primary: $primary,
  $hover-bg: $hover-bg,
  $body-bg: $body-bg,
  $body-color: $body-color,
  $input-bg: $input-bg,
  $input-border-color: $input-border-color,
  $input-color: $input-color,
  $input-plaintext-color: $input-plaintext-color,
  $input-placeholder-color: $input-placeholder-color,
  $input-focus-bg: $input-focus-bg,
  $input-focus-border-color: $input-focus-border-color,
  $input-border-width: $input-border-width,
  $input-box-shadow: $input-box-shadow,
  $input-focus-box-shadow: $input-focus-box-shadow,
  $chat-entry-border-color: $chat-entry-border-color,
  $message-color: $message-color,
  $message-metadata-color: $message-metadata-color,
  $incoming-message-bg: $incoming-message-bg,
  $outgoing-message-bg: $outgoing-message-bg,
  $sent-message-link: $sent-message-link,
  $sent-message-link-visited: $sent-message-link-visited,
  $message-input-border: $message-input-border,
  $sending-url: $sending-url,
  $sent-url: $sent-url,
  $delivered-url: $delivered-url,
  $read-url: $read-url,
);
