$primary: #2090ea;
$body-bg: #fff;
$hover-bg: #eee;
$body-color: #333;

$input-bg: #fff;

$chat-entry-border-color: #ddd;

$message-color: #000;
$message-metadata-color: #333;
$incoming-message-bg: #92c4ec;
$outgoing-message-bg: #9ae9a9;
$sent-message-bg: #d3f2d7;
$sent-message-link: $primary;

$message-input-border: #2090ea;

$sending-url: "sending.svg";
$sent-url: "check-circle-outline.svg";
$delivered-url: "double-check.svg";
$read-url: "double-check-filled.svg";

@forward 'style.scss' with (
  $primary: $primary,
  $body-bg: $body-bg,
  $hover-bg: $hover-bg,
  $body-color: $body-color,
  $input-bg: $input-bg,
  $chat-entry-border-color: $chat-entry-border-color,
  $message-color: $message-color,
  $message-metadata-color: $message-metadata-color,
  $incoming-message-bg: $incoming-message-bg,
  $outgoing-message-bg: $outgoing-message-bg,
  $sent-message-bg: $sent-message-bg,
  $sent-message-link: $sent-message-link,
  $message-input-border: $message-input-border,
  $sending-url: $sending-url,
  $sent-url: $sent-url,
  $delivered-url: $delivered-url,
  $read-url: $read-url,
);
