name: Axolotl build pipeline

on:
  workflow_call:

env:
  GO_VERSION: 1.16
  NODE_VERSION: "18.x"

jobs:
  build-axolotl-web:
    name: Build axolotl-web
    runs-on: ubuntu-latest

    steps:
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Check out code
        uses: actions/checkout@v3

      - name: Download dependencies
        run: npm --prefix ./axolotl-web ci --loglevel verbose

      - name: Run tests
        run: npm --prefix ./axolotl-web test

      - name: Lint application
        run: npm --prefix ./axolotl-web run lint

      - name: Analyze npm dependencies
        run: npm --prefix ./axolotl-web run depcheck

      - name: Build
        run: npm --prefix ./axolotl-web run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: axolotl-web
          path: axolotl-web/dist/
          retention-days: 1
  build-axolotl:
    name: Build axolotl
    runs-on: ubuntu-latest
    needs:
      - build-axolotl-web
    steps:
      - name: Rust setup
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: swatinem/rust-cache@v2
      

      - name: Install dependencies
        run: sudo apt update && sudo apt-get install -y libgtk-3-dev  libwebkit2gtk-4.1-dev librsvg2-dev libayatana-appindicator3-dev libssl-dev libjavascriptcoregtk-4.1-dev cmake
      

      - name: Check out code
        uses: actions/checkout@v3
      
      - name: Download axolotl-web build artifacts
        uses: actions/download-artifact@v3
        id: download
        with:
          name: axolotl-web
          path: build-artifacts

      - name: Copy axolotl-web build artifacts
        run: |
          echo $PWD
          mkdir --parents axolotl-web/dist
          cp -rf ${{steps.download.outputs.download-path}}/* axolotl-web/dist

      - name: Build
        run: |
          ls axolotl-web
          echo $PWD
          make build-axolotl

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: axolotl
          path: axolotl
          retention-days: 1

  build-axolotl-web-deb-arm64:
    name: Build axolotl-web Debian arm64
    runs-on: ubuntu-latest

    steps:
      - name: Set up Node     
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Check out code
        uses: actions/checkout@v3

      - name: Create folder
        run: mkdir --parents $GITHUB_WORKSPACE/build/linux-arm64/axolotl-web

      - name: Download dependencies
        run: npm --prefix ./axolotl-web --target_arch=arm64 ci --loglevel verbose

      - name: Build
        run: npm --prefix ./axolotl-web --target_arch=arm64 run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: build-axolotl-web-deb-arm64
          path: axolotl-web/dist/
          retention-days: 1

  build-axolotl-deb-arm64:
    name: Build axolotl Debian arm64
    runs-on: ubuntu-latest
    needs:
      - build-axolotl-web-deb-arm64
    env:
      DEBIAN_FRONTEND: noninteractive
      TZ: Europe/Berlin
      PKG_CONFIG_SYSROOT_DIR: /
    steps:
      - name: Install Rust
        run: rustup update stable

      - name: Install tauri dependencies
        run: sudo apt update && sudo apt-get install -y libgtk-3-dev  libwebkit2gtk-4.1-dev librsvg2-dev libayatana-appindicator3-dev libssl-dev libjavascriptcoregtk-4.1-dev cmake
  
      - name: Install cross-compilation tools
        uses: taiki-e/setup-cross-toolchain-action@v1
        with:
          target: aarch64-unknown-linux-gnu

      - name: Install tauri arm64 dependencies
        run: |
          echo "deb [arch=arm64] http://ports.ubuntu.com/ jammy main multiverse universe"  | sudo tee -a /etc/apt/sources.list
          echo "deb [arch=arm64] http://ports.ubuntu.com/ jammy-security main multiverse universe"  | sudo tee -a /etc/apt/sources.list
          echo "deb [arch=arm64] http://ports.ubuntu.com/ jammy-backports main multiverse universe"  | sudo tee -a /etc/apt/sources.list
          echo "deb [arch=arm64] http://ports.ubuntu.com/ jammy-updates main multiverse universe"  | sudo tee -a /etc/apt/sources.list
          sudo apt update && sudo apt-get install -y --no-install-recommends libgtk-3-dev:arm64  libwebkit2gtk-4.1-dev:arm64 librsvg2-dev:arm64 libayatana-appindicator3-dev:arm64 libssl-dev:arm64 libjavascriptcoregtk-4.1-dev:arm64 

      - name: Rust cache
        uses: swatinem/rust-cache@v2

      - name: Check out code
        uses: actions/checkout@v3

      - name: Download build-axolotl-web-deb-arm64 build artifacts
        uses: actions/download-artifact@v3
        id: download-axolotl-web
        with:
          name: build-axolotl-web-deb-arm64
          path: build-artifacts

      - name: Copy axolotl-web build artifacts
        run: |
          echo $PWD
          mkdir --parents axolotl-web/dist
          cp -rf ${{steps.download-axolotl-web.outputs.download-path}}/* axolotl-web/dist
      - name: Build
        run: RUSTFLAGS="-C linker=aarch64-linux-gnu-gcc" cargo build --release --target aarch64-unknown-linux-gnu --features tauri

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: linux-arm64
          path: build/linux-arm64/axolotl
          retention-days: 1


